<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="D2ER" parallel="none" preserve-order="true">
    <listeners>
        <listener class-name="resources.listeners.ExtentListeners" />
    </listeners>
		<parameter name="browser" value="chrome" />
		<parameter name="baseurl" value="https://goldeneye.squarehealth.com/" />  
		
  <test thread-count="1" name="D2ER_Test">
  
    <classes>
<class name="sqh.automation.D2ERTest.D2ERFinanceTest"/>
 	<class name="sqh.automation.D2ERTest.D2EREmployeeTest"/>
 	 <class name="sqh.automation.D2ERTest.D2ERValidationTest"/>
     <class name="sqh.automation.D2ERTest.D2ERFinanceTest"/>
     <class name="sqh.automation.D2ERTest.D2ERLoginTest"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

